[submodule ".config/zsh/powerlevel10k"]
	path = .config/zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git

[submodule ".config/zsh/zsh-vi-mode"]
	path = .config/zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
